h1 {
    text-align: center;
}
h3 {
    font-weight: 500;
}
ol {
    padding: 10px;
    list-style-position: inside;
}
ul {
    padding: 10px;
    list-style-position: inside;
    list-style-type: upper-roman;
}
.lists {
    font-weight: 300;
}
#left_div {
    border-style: solid;    
}
#right_div {
    border-style: dashed;    
    
}
#left_div, #right_div {
    float: left;
    width: 45%;;
    border-width: 1px;
    border-color:  red;
    border-radius: 15px;
}
#spacer {
    width: 100%;
    margin-top: 60%;

}
#redirect {
    float: right;
    margin-bottom: 20px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}